<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<true/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>SlideToUnlock.png</string>
			<key>packageIdentifier</key>
			<string>com.ikilledappl3.durango</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>footerText</key>
			<string>Turn the tweak on to see that classic slide to unlock.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.durango-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.durango</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Two Finger Tap To Lock</string>
			<key>footerText</key>
			<string>Enable this to lock your device with a two finger gesture on the lockscreen.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.durango-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.durango</string>
			<key>key</key>
			<string>kDoubleTap</string>
			<key>label</key>
			<string>Two Finger Tap To Lock</string>
		</dict>
             		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Remove Top and Bottom Grabbers</string>
			<key>footerText</key>
			<string>Enable this to remove the grabber views from the screen.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.durango-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.durango</string>
			<key>key</key>
			<string>kRemoveChevron</string>
			<key>label</key>
			<string>Hide Chevron Views</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Media Player Options</string>
			<key>footerText</key>
			<string>Customize the media player interface.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.durango-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.durango</string>
			<key>key</key>
			<string>kRemoveMediaPlayerBlur</string>
			<key>label</key>
			<string>Remove Background Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customize LS Elements</string>
			<key>footerText</key>
			<string>Apply a custom slide to unlock text.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.durango-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.durango</string>
			<key>key</key>
			<string>kCustomSliderText</string>
			<key>label</key>
			<string>Custom Slider Text</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ccom.ikilledappl3.durango-prefsreload</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ikilledappl3.durango</string>
			<key>detail</key>
			<string>PSDetailCell</string>
			<key>key</key>
			<string>kCustomText</string>
			<key>label</key>
			<string>Slider Text:</string>
			<key>placeholder</key>
			<string>Custom Text Here</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Check out the other awesome tweaks I have made!</string>
			<key>label</key>
			<string>My Other Tweaks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Other Tweaks via BigBoss</string>
			<key>url</key>
			<string>https://is.gd/iKAtweaks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Follow me on Twitter for support or just to follow!</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>big</key>
			<string>56</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>iKilledAppl3</string>
			<key>user</key>
			<string>iKilledAppl3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Without them this tweak would be nothing!</string>
			<key>label</key>
			<string>Beta Testers!</string>
		</dict>
		<dict>
			<key>big</key>
			<string>56</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Flixys 🔴</string>
			<key>user</key>
			<string>FIixys</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Music controls wouldn't be here without him! Follow him on Twitter!</string>
			<key>label</key>
			<string>Other Credits</string>
		</dict>
		<dict>
			<key>big</key>
			<string>56</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Skitty </string>
			<key>user</key>
			<string>SkittyBlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Please consider donating it helps a lot!</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate via PayPal</string>
			<key>url</key>
			<string>http://is.gd/donate2ToxicAppl3Inc</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring to apply changes.</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>Meteora</string>
</dict>
</plist>
