Package: com.ikilledappl3.meteora
Name: Meteora
Depends: mobilesubstrate, ws.hbang.common
Architecture: iphoneos-arm
Description: The iOS 9 lockscreen for iOS 10!
Maintainer: Skitty
Author: iKilledAppl3 and Skitty
Section: Tweaks
Version: 1.0-12+debug
Installed-Size: 544
